:root {
    --fontTexto:  'Raleway', sans-serif;
    --fontHeading: 'Staatliches', cursive;
    --fontSize: 25px;

    /** Colores **/
    --azulClaro : #d6eaf7;
    --azulOscuro : #1d3557;
    --rojo : #ed2a26;
    --rojoOscuro : #AF1F24;
    --blanco: #FFFFFF;
}

/* Layout */
* {
    text-decoration: var(--fontTexto);
    margin: 0;
}

body {
    background: var(--blanco);
}

footer {
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 10px;
    bottom: 0;
    height: 100px;
    width: 100%;
    color: white;
    background-color: var(--azulOscuro);
}

p {
    padding: 10px;
}

.container {
    width: 100%;
    /* text-align: left; */
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Texto */
.h1__about {
    position: relative;
    text-decoration: var(--fontHeading);
    top: -110px;
    left: -30px;

    color: var(--azulOscuro);
    /* mix-blend-mode: invert(1); */
    filter: drop-shadow(.16em .08em var(--azulClaro));
    transition: 0.5s;
    animation: animate3 5s ease-in-out infinite;
}

.h1__contact {
    position: relative;
    text-decoration: var(--fontHeading);
    top: 90px;
    left: 450px;
    color: var(--azulOscuro);
    /* mix-blend-mode: invert(1); */
    filter: drop-shadow(.16em .08em var(--azulClaro));
    transition: 0.5s;
    animation: animate3 6s ease-in-out infinite;
}


/* Landing Banner*/
.landingBanner__body {
    position: relative;
    display: flex;
    justify-content: center;
    height: 450px;
    width: 100%;
    background-image: url("img/background.css");
}

/* perspertive landing */

.mainImage {
    float: right;
    margin-top: 0px
}

.main__body_presentacion {
    position: fixed;
    justify-content: center;
    bottom: 10px;
    left: 250px;
    margin: 0 auto;
}

.perspective-text {
    color: white;
    font-family: Arial;
    font-size: 58px;
    font-weight: 900;
    letter-spacing: -2px;
    text-transform: uppercase;
  }
  
  .perspective-line {
    height: 50px;
    overflow: hidden;
    position: relative;
  }
  
  p {
    margin: 0;
    height: 50px;
    line-height: 50px;
    transition: all 0.5s ease-in-out;
  }
  
  .perspective-line:nth-child(odd) {
    transform: skew(60deg, -30deg) scaleY(0.667);
  }
  
  .perspective-line:nth-child(even) {
    transform: skew(0deg, -30deg) scaleY(1.337);
  }
  
  .perspective-text:hover p {
    transform: translate(0, -50px);
  }
  
  .perspective-line:nth-child(1) {
    left: 29px;
  }
  
  .perspective-line:nth-child(2) {
    left: 58px;
    background: #f07e6e;
  }
  
  .perspective-line:nth-child(3) {
    left: 87px;
    background: #84cdfa;
  }
  
  .perspective-line:nth-child(4) {
    left: 116px;
    background: #5ad1cd;
  }
  
  .perspective-line:nth-child(5) {
    left: 145px;
  }


  #main__body {
    position: relative;
    width: 100%;
    height: 400px;
    /* background-color: var(--azul); */
}

.main__Body_pic {
    width: 250px;
    height: 200px
}

.h1__desarrollador:before {
    content: '';
    width: 1000%;
    height: 110px;
    background: yellow;
    position: absolute;
    top: 0;
    left: -300px;
    transition: 3s;
    animation: animate_h1 10s infinite;
}

@keyframes animate_h1 {
    0% {
       top: 0%;
       z-index: 1; 
    }
    50% {
        top: 100%;
        z-index: 1; 
     }
     51% {
        top: 100%;
        z-index: -1; 
     }
     100% {
        top: 0%;
        z-index: -1; 
     }
}

/* circles */
.square {
    margin-top: 30px;
    position: relative;
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square .span1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid black;
    opacity: 50%;
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    animation: animate 6s linear infinite;
}
/* .square:hover span:nth-child(1) {
    background: rgba(0, 0, 255, 0.8);
} */
.square .span2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid black;
    opacity: 50%;
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    transition: 0.5s;
    animation: animate 10s linear infinite;
}

.square .span3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px outset black;
    opacity: 50%;
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    transition: 0.5s;
    animation: animate 4s linear infinite;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/* circulos About */
.circulo__about1 {
    position: absolute;
    top: 60px;
    left: 10px;
    width: 10%;
    height: 10%;
    background-color: var(--rojo);
    border: 2px solid var(--rojo);
    opacity: 87%; 
    border-radius: 50%;
    transition: 0.5s;
    animation: animate1 3s linear infinite;
}

.circulo__about2 {
    position: absolute;
    top: 30px;
    left: -4px;
    width: 20%;
    height: 20%;
    transition: 0.5s;
    animation: animate3 6s ease-in-out infinite;
}

.circulo__about3 {
    position: absolute;
    top: 40px;
    left: -40px;
    width: 20%;
    height: 20%;
    transition: 0.5s;
    animation: animate3 3s ease-out infinite;
}

.circulo__about4 {
    position: absolute;
    top: 55px;
    left: -14px;
    width: 25%;
    height: 16%;
    background-color: rosybrown;
    border: 2px solid rosybrown;
    border-radius: 95% 135% 125% 90% / 96% 95% 95% 90%;
    opacity: 70%;
    transition: 0.5s;
    animation: animate3 4s ease-in-out reverse infinite;
}

.circulo__about5 {
    position: absolute;
    top: 60px;
    left: -314px;
    width: 125%;
    height: 40%;
    background-color: rosybrown;
    border: 2px solid rosybrown;
    border-radius: 55% 95% 25% 10% / 65% 85% 35% 30%;
    opacity: 70%;
    z-index: 7;
    opacity: 1%;
    /* transition: 0.5s; */
    /* animation: animate3 4s ease-in-out reverse infinite; */
}

.circulo__about6 {
    position: absolute;
    top: 70px;
    left: 10px;
    width: 6%;
    height: 8%;
    transition: 0.5s;
    animation: animate3 3s ease-out infinite;
    visibility: hidden;
    filter: grayscale(100%)
}

.circulo__about7 {
    position: absolute;
    top: 70px;
    left: 10px;
    width: 30%;
    height: 40%;
    transition: 0.5s;
    animation: animate3 3s ease-out infinite;
    visibility: hidden;
    filter: grayscale(100%)
}

.circulo__about8 {
    position: absolute;
    top: 70px;
    left: 10px;
    width: 15%;
    height: 14%;
    transition: 0.5s;
    animation: animate3 1s ease-in-out infinite;
    visibility: hidden;
}

.circulo__about9 {
    position: absolute;
    top: 50px;
    left: -270px;
    width: 15%;
    height: 14%;
    transition: 0.5s;
    animation: animate3 2s ease-in infinite;
    visibility: hidden;
}

.circulo__webDesigner1:hover {
    background-color: var(--azulOscuro);
    border-color: var(--azulOscuro);
}

.circulo__about5:hover ~ .circulo__about1   {
    background-color: var(--azulOscuro);
    border-color: var(--azulOscuro);
}

.circulo__about5:hover ~ .circulo__about3 {
    top: -150px;
    left: 365px;
    width: 50%;
    height: 50%;
}

.circulo__about5:hover ~ .circulo__about2 {
    top: 60px;
    left: -455px;
    width: 50%;
    height: 50%;
}

.circulo__about5:hover ~ .circulo__about6 {
    top: 390px;
    left: -205px;
    visibility: visible;
}

.circulo__about5:hover ~ .circulo__about7 {
    top: 80px;
    left: 615px;
    visibility: visible;
}

.circulo__about5:hover ~ .circulo__about8 {
    top: 380px;
    left: 615px;
    visibility: visible;
}

.circulo__about5:hover ~ .circulo__about9 {
    top: -60px;
    left: -245px;
    width: 30%;
    height: 30%;
    visibility: visible;
}

@keyframes animate3 {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translate3d(4px, 8px, 56px)
    }
    100% {
        transform: translateY(0px);
    }
}

/* circulos About */
.circulo__contact1 {
    position: absolute;
    top: 70px;
    left: 350px;
    width: 10%;
    height: 10%;
    background-color: var(--rojo);
    border: 2px solid var(--rojo);
    opacity: 87%; 
    border-radius: 50%;
    transition: 0.5s;
    animation: animate1 3s linear infinite;
}

.circulo__contact2 {
    position: absolute;
    top: 60px;
    left: 350px;
    width: 18%;
    height: 15%;
    transition: 0.5s;
    animation: animate3 6s ease-in-out infinite;
}

.circulo__contact3 {
    position: absolute;
    top: 70px;
    left: 350px;
    width: 20%;
    height: 12%;
    transition: 0.5s;
    animation: animate3 3s ease-out infinite;
}

.circulo__contact4 {
    position: absolute;
    top: 60px;
    left: 330px;
    width: 25%;
    height: 16%;
    background-color: rosybrown;
    border: 2px solid rosybrown;
    border-radius: 95% 135% 125% 90% / 96% 95% 95% 90%;
    opacity: 70%;
    transition: 0.5s;
    animation: animate3 4s ease-in-out reverse infinite;
}

.circulo__contact5 {
    position: absolute;
    top: 70px;
    left: 350px;
    width: 95%;
    height: 30%;
    background-color: rosybrown;
    border: 2px solid rosybrown;
    border-radius: 55% 95% 25% 10% / 65% 85% 35% 30%;
    opacity: 70%;
    z-index: 7;
    opacity: 1%;
    /* transition: 0.5s; */
    /* animation: animate3 4s ease-in-out reverse infinite; */
}

.circulo__contact6 {
    position: absolute;
    top: 300px;
    left: -250px;
    width: 26%;
    height: 38%;
    transition: 0.5s;
    animation: animate3 3s ease-out infinite;
}

.circulo__contact7 {
    position: absolute;
    top: 70px;
    left: 350px;
    width: 3%;
    height: 4%;
    transition: 0.5s;
    animation: animate3 3s ease-out infinite;
    visibility: hidden;
    filter: grayscale(100%)
}

.circulo__contact8 {
    position: absolute;
    top: 70px;
    left: 350px;
    width: 15%;
    height: 14%;
    transition: 0.5s;
    animation: animate3 1s ease-in-out infinite;
    visibility: hidden;
}

.circulo__contact9 {
    position: absolute;
    top: 70px;
    left: 350px;
    width: 15%;
    height: 14%;
    transition: 0.5s;
    animation: animate3 2s ease-in infinite;
    visibility: hidden;
}
.circulo__contact1:hover {
    background-color: var(--azulOscuro);
    border-color: var(--azulOscuro);
}

.circulo__cocontact5:hover ~ .circulo__contact1   {
    background-color: var(--azulOscuro);
    border-color: var(--azulOscuro);
}

.circulo__contact5:hover ~ .circulo__contact3 {
    top: -90px;
    left: 565px;
    width: 30%;
    height: 30%;
}

.circulo__contact5:hover ~ .circulo__contact2 {
    top: 190px;
    left: -355px;
    width: 50%;
    height: 30%;
}

.circulo__contact5:hover ~ .circulo__contact6 {
    top: 390px;
    left: -205px;
    visibility: visible;
}

.circulo__contact5:hover ~ .circulo__contact7 {
    top: 80px;
    left: 715px;
    width: 150px;
    height: 130px;
    visibility: visible;
}

.circulo__contact5:hover ~ .circulo__contact8 {
    top: 280px;
    left: 615px;
    visibility: visible;
}

.circulo__about5:hover ~ .circulo__about9 {
    top: -20px;
    left: -245px;
    width: 20%;
    height: 10%;
    visibility: visible;
}

@keyframes animate3 {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translate3d(4px, 8px, 56px)
    }
    100% {
        transform: translateY(0px);
    }
}

/* ciculos contact */
.circulo__contact1 {
    position: absolute;
    top: 270px;
    left: 360px;
    width: 10%;
    height: 10%;
    background-color: var(--rojo);
    border: 2px solid var(--rojo);
    opacity: 87%; 
    border-radius: 50%;
    transition: 0.5s;
    animation: animate1 3s linear infinite;
}

.circulo__contact2 {
    position: absolute;
    top: 260px;
    left: 340px;
    width: 18%;
    height: 15%;
    transition: 0.5s;
    animation: animate3 6s ease-in-out infinite;
}

.circulo__contact3 {
    position: absolute;
    top: 260px;
    left: 340px;
    width: 20%;
    height: 12%;
    transition: 0.5s;
    animation: animate3 3s ease-out infinite;
}

.circulo__contact4 {
    position: absolute;
    top: 255px;
    left: 335px;
    width: 25%;
    height: 16%;
    background-color: rosybrown;
    border: 2px solid rosybrown;
    border-radius: 95% 135% 125% 90% / 96% 95% 95% 90%;
    opacity: 70%;
    transition: 0.5s;
    animation: animate3 4s ease-in-out reverse infinite;
}

.circulo__contact5 {
    position: absolute;
    top: 260px;
    left: 340px;
    width: 95%;
    height: 40%;
    background-color: rosybrown;
    border: 2px solid rosybrown;
    border-radius: 55% 95% 25% 10% / 65% 85% 35% 30%;
    opacity: 70%;
    z-index: 7;
    opacity: 1%;
    /* transition: 0.5s; */
    /* animation: animate3 4s ease-in-out reverse infinite; */
}

.circulo__contact6 {
    position: absolute;
    top: 260px;
    left: 340px;
    width: 6%;
    height: 8%;
    transition: 0.5s;
    animation: animate3 3s ease-out infinite;
    visibility: hidden;
    filter: grayscale(100%)
}

.circulo__contact7 {
    position: absolute;
    top: 260px;
    left: 340px;
    width: 3%;
    height: 4%;
    transition: 0.5s;
    animation: animate3 3s ease-out infinite;
    visibility: hidden;
    filter: grayscale(100%)
}

.circulo__contact8 {
    position: absolute;
    top: 260px;
    left: 340px;
    width: 15%;
    height: 14%;
    transition: 0.5s;
    animation: animate3 1s ease-in-out infinite;
    visibility: hidden;
}

.circulo__contact9 {
    position: absolute;
    top: 260px;
    left: 340px;
    width: 15%;
    height: 14%;
    transition: 0.5s;
    animation: animate3 2s ease-in infinite;
    visibility: hidden;
}
.circulo__contact1:hover {
    background-color: var(--azulOscuro);
    border-color: var(--azulOscuro);}

.circulo__contact5:hover ~ .circulo__contact1   {
    background-color: var(--azulOscuro);
    border-color: var(--azulOscuro);
}

.circulo__contact5:hover ~ .circulo__contact3 {
    top: -10px;
    left: 465px;
    width: 30%;
    height: 30%;
}

.circulo__contact5:hover ~ .circulo__contact2 {
    top: 190px;
    left: -355px;
    width: 35%;
    height: 20%;
}

.circulo__contact5:hover ~ .circulo__contact6 {
    top: 390px;
    left: -205px;
    visibility: visible;
}

.circulo__contact5:hover ~ .circulo__contact7 {
    top: 80px;
    left: 715px;
    width: 150px;
    height: 130px;
    visibility: visible;
}

.circulo__contact5:hover ~ .circulo__contact8 {
    top: 280px;
    left: 615px;
    visibility: visible;
}

.circulo__contact5:hover ~ .circulo__contact9 {
    top: -20px;
    left: -245px;
    width: 20%;
    height: 10%;
    visibility: visible;
}

.robotContact {
    transition: 0.5s;
    animation: animate3 2s ease-out infinite;
}

@keyframes animate3 {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translate3d(4px, 8px, 56px)
    }
    100% {
        transform: translateY(0px);
    }
}

/* Second banner, steps */
.secondBanner__body {
    position: relative;
    width: 100%;
    height: 500px;
    background-image: url("img/background2.css");
    /* mix-blend-mode: difference; */
}

/* About */
#about__body {
    position: relative;
    width: 100%;
    height: 600px;
    z-index: 30;
    /* background-color: var(--azul); */
    filter: invert(100%);
}
.about__body {
    position: relative;
    width: 100%;
    height: 540px;
    z-index: 30;
    /* background-color: var(--azul); */
}

/* Contact */
.contact__body {
    position: relative;
    width: 100%;
    height: 500px;
    background-color: var(--rojoOscuro);
}


/* Projects Pug*/
.projects {
    height: 600px;
}

.section {
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    border: 2px solid #000;
}
.slide {
    margin: 0px;
    /* padding: px; */
    width: 60%;
    /* justify-content: center; */
    text-align: start;
}

.section .slide {
    position: relative;
    /* background: #0f0; */
    height: 100%;
    flex: 1;
    border-right: 2px solid #000;
    overflow: hidden;
    transition: 0.5s ease-in-out;
}
.section .slide:nth-child(1) {
  background: url(img/background1.css);
  background-position: center center;
}
.section .slide:nth-child(2) {
  background: url(img/background3.css);
  background-position: center center;
  /* filter: hue-rotate(250deg); */
}
.section .slide:nth-child(3) {
  background: url(img/background5.css);
  background-position: center center;
  opacity: 95%;
}
.section .slide:nth-child(4) {
  background: url(img/background6.css);
  background-position: center center;
  opacity: 95%;
}
.section .slide:nth-child(5) {
  background: url(img/background2.css);
  background-position: center center;
  opacity: 95%;
  /* filter: hue-rotate(9050deg); */
}

.section .slide:last-child {
  border-right: none;
}
.section .slide:hover {
    flex-grow: 5;
}
.section .slide .content {
    position: absolute;
    bottom: 0;
    margin: 40px;
    padding: 30px;
    /* background: #000; */
    background: #000;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    transition: 0s;
    transform: translateY(100px)
}
.section .slide:hover .content {
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
    transition-delay: 0.5s;
    transform: translateY(0);
    margin-left: 60%;
    width: 250px;
    flex-direction: start;
}
.h1__projects {
    flex-direction: right;
    padding-top: 60px;
    zoom: 2;
    filter: invert(100%);
}

.a__project_content1 {
    padding-left: 10px;
    padding-bottom: 3em;
    padding-top: 2em;
    font-size: var(--fontSize);
    background: cyan;
    background-color: purple;
    width: 150%;
}

.a__project_content2 {
    padding-left: 10px;
    padding-bottom: 3em;
    padding-top: 2em;
    font-size: var(--fontSize);
    background: black;
    width: 150%;
}
.a__project_content3 {
    padding-left: 10px;
    padding-bottom: 3em;
    padding-top: 2em;    
    font-size: var(--fontSize);
    background: black;
    background-color: red;
    width: 150%;
}